*{
    margin: 0;
    padding:0;
}

.app{
background: rgb(25, 184, 184);
width: 100vw;
height:100vh;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.box {
padding: 50px;
margin: 10px;
}